android-tdd-alura-leilao/Leilao/*.iml
android-tdd-alura-leilao/Leilao/.gradle
android-tdd-alura-leilao/Leilao/local.properties
android-tdd-alura-leilao/Leilao/.idea/*
android-tdd-alura-leilao/Leilao/.DS_Store
android-tdd-alura-leilao/Leilao/build
android-tdd-alura-leilao/Leilao/captures
android-tdd-alura-leilao/Leilao/.externalNativeBuild
android-tdd-alura-leilao/Leilao/.cxx
android-tdd-alura-leilao/servidor/database