android-tdd-alura-leilao/*.iml
android-tdd-alura-leilao/.gradle
android-tdd-alura-leilao/local.properties
android-tdd-alura-leilao/.idea/*
android-tdd-alura-leilao/.DS_Store
android-tdd-alura-leilao/build
android-tdd-alura-leilao/captures
android-tdd-alura-leilao/.externalNativeBuild
android-tdd-alura-leilao/.cxx